stm32_board-backups
fp-info-cache

# ===== KiCad =====
*.kicad_prl
*.kicad_sch-bak
*.kicad_pcb-bak
*-backups/
*_backups/
fp-info-cache
*.lck
~*.kicad_sch
~*.kicad_pcb
__autosave-*

# ===== Gerbers / fabrication output =====
Gerber/
*.zip

# ===== OS junk =====
.DS_Store
Thumbs.db


